# Ignore .o files, these are built when running
*.o
*.mod
*.a

# Build testing file
driver/run/cosp2_test

# Ignore changes to the testing files for data
*.nc

# Ignore anything in a .ipynb_checkpoint directory
**/.ipynb_checkpoints/*
src/simulator/plot_testRTTOV_output.ipynb
