name: Continuous integration in containers
on: [push, pull_request, workflow_dispatch]

jobs:
  Containerized-CI:
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        toolchain: [oneapi, gfortran]
        include:
        # Flags and KGOs for Intel Fortran Compiler
        - toolchain: oneapi
          compiler: ifx
          fcflags: -debug -traceback -O0 -heap-arrays -assume realloc_lhs -extend-source 132 -stand f08
        - toolchain: gfortran
          compiler: gfortran
          fcflags: -O3 -ffree-line-length-none -fcheck=bounds -finit-real=nan
       # Common variables
        - kgo_version: v007
    defaults:
      run:
        shell: bash -el {0}
    container:
      image: ghcr.io/cfmip/cospv2.0-ci:${{ matrix.toolchain }}
    env:
      F90: ${{ matrix.compiler }}
      FC:  ${{ matrix.compiler }}
      F90FLAGS:  ${{ matrix.fcflags }}
      # Make variables:
      NFHOME: /usr
      # KGO tests variables
      ATOL: 0.0
      RTOL: 0.0
      KGO_VERSION: ${{ matrix.kgo_version }}
    steps:
    #
    # Checks-out repository under $GITHUB_WORKSPACE
    #
    - uses: actions/checkout@v6

    ###############################################################################
    # Build COSP and retrieve input and test files
    ###############################################################################
    # Build COSP2 driver. Intel Fortran stores automatic arrays in the stack
    # by default, whereas GNU Fortran stores them in the heap. This can cause
    # segmentation faults with ifort, especially in memory-intensive applications
    # like COSP. We tell ifort to use heap arrays.
    - name: Build driver
      run: |
        ${F90} --version
        cd build
        make -j driver
    # Retrieve and expand large data files
    - name: Retrieve input files and KGOs
      run: |
        cd driver
        . download_test_data.sh ${F90}
        cd ${GITHUB_WORKSPACE}
    ###############################################################################
    # Run COSP2 tests. Basic test and UM global snapshot
    ###############################################################################
    - name: Basic test and UM global snapshot
      run: |
        cd driver/run
        ./cosp2_test cosp2_input_nl.txt
        ./cosp2_test cosp2_input_nl.um_global.txt
        ./cosp2_test cosp2_swath_input_nl.um_global.txt
    ###############################################################################
    # Compare results against known good outputs. As above,
    # we split it in as many steps as tests.
    ###############################################################################
    # 1. Basic test
    - name: Basic against known good output (KGO)
      run: |
        cd driver
        KGO=data/outputs/UKMO/cosp2_output_um.${{ matrix.compiler }}.kgo.$KGO_VERSION.nc
        TST=data/outputs/UKMO/cosp2_output_um.nc
        STATS=data/outputs/UKMO/cosp2_output_um.${{ matrix.compiler }}.out
        python compare_to_kgo.py ${KGO} ${TST} --atol=${ATOL} --rtol=${RTOL} --stats_file=${STATS}
    # 2. UM global snapshot.
    - name: UM global against known good output (KGO)
      if: always()
      run: |
        cd driver
        KGO=data/outputs/UKMO/cosp2_output.um_global.${{ matrix.compiler }}.kgo.$KGO_VERSION.nc
        TST=data/outputs/UKMO/cosp2_output.um_global.nc
        STATS=data/outputs/UKMO/cosp2_output.um_global.${{ matrix.compiler }}.out
        python compare_to_kgo.py ${KGO} ${TST} --atol=${ATOL} --rtol=${RTOL} --stats_file=${STATS}
    # 3. UM global snapshot with swathing.
    - name: UM global with swathing against known good output (KGO)
      if: always()
      run: |
        cd driver
        KGO=data/outputs/UKMO/cosp2_swath_output.um_global.${{ matrix.compiler }}.kgo.$KGO_VERSION.nc
        TST=data/outputs/UKMO/cosp2_swath_output.um_global.nc
        STATS=data/outputs/UKMO/cosp2_swath_output.um_global.${{ matrix.compiler }}.out
        python compare_to_kgo.py ${KGO} ${TST} --atol=${ATOL} --rtol=${RTOL} --stats_file=${STATS}
    ###############################################################################
    # Produce plots when it fails during global snapshot tests,
    # and create a tarball with outputs.
    ###############################################################################
    - name: Produce plots and create tarball
      if: failure()
      run: |
        cd driver
        if [[ -e data/outputs/UKMO/cosp2_output.um_global.nc ]]; then
          python plot_test_outputs.py
        fi
        cd data/outputs/UKMO
        tar --ignore-failed-read -czf outputs.${{ matrix.compiler }}.UKMO.tgz cosp2_output.um_global.nc \
          cosp2_output_um.nc cosp2_swath_output.um_global.nc *.png cosp2_output*.${{ matrix.compiler }}.out
        ls -lh
    ###############################################################################
    # Make output files available if any test fails
    ###############################################################################
    - name: Upload output file if test fails
      if: failure()
      uses: actions/upload-artifact@v6.0.0
      with:
        name: outputs.${{ matrix.compiler }}.UKMO.tgz
        path: driver/data/outputs/UKMO/outputs.${{ matrix.compiler }}.UKMO.tgz
